*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}
a{
    width: 80px;
    display: inline;
    color: white;
    font-weight: bold;

}
a:hover{
    color: #e12f2f;
    transition: 0.2s;
    font-size: 14pt;
}
li{list-style: none;}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.geral{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.cabecalho{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    gap: 50px;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border-radius: 0px;
    border-bottom: 1px solid white;
}
.itens{
    display: flex;
    gap: 50px;
}
.logo{
    width: 130px;
}
.espaco10{
    width: 10vw;
}
.espaco5{
    width:5vw;
}
.corpo{
    width: 100vw;
    height: 69.7vh;
    display: flex;
}
.corpo-interno{
    width:100vw;
    height: 69.7vh;
}
.espaco14{
    width: 14vw;
}
.rodape{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    border-top: 1px solid white;
    background-color: rgba(0, 0, 0, 0.9);
}
.contato{
    display: flex;
    width: 69.7vw;
    height: 12vh;
    border-bottom: 1px solid white;
}
.contato ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hero{
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
.cta-button{
    width: 150px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #e12f2f;
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
.cta-button:hover{
    background-color: #f95e5e;
}